html {
  font-size: 16px;
  text-size-adjust: 100%;
}

body {
  background: $white-smoke-500;
  color: #000;
  font-family: $font-family-primary;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

.image {
  display: block;
  position: relative;

  img {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &.is-16by9 {
    padding-bottom: 56.25%;
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  height: 1em;
  justify-content: center;
  width: 1em;

  &.is-small {
    font-size: 0.8125rem;
  }
}

.has-loading {
  animation: hide-scroll 3s ease-in-out 3s backwards;
}

.loading {
  align-items: center;
  animation: pre-slide-y 3s ease-in-out 3s backwards;
  background: $white-smoke-700;
  bottom: 0;
  color: #000;
  display: flex;
  height: 0;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-200%);
  z-index: 9999;
}
