.card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.12);
  font-size: 1.125rem;
  font-weight: 300;

  img {
    border-radius: 14px 14px 0 0;
    object-fit: cover;
    object-position: 0 65%;
  }

  .card-body {
    padding: 1rem 0.75rem;
  }

  .title {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  .like {
    float: right;
    margin-right: 0.5em;
    margin-top: 0.25rem;
  }

  p {
    margin-bottom: 0;
  }
}

.card .image .tag {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
}
