.footer {
  padding: 1.625rem 0;

  @include sm {
    padding: 2rem 0;
  }

  @include lg {
    padding: 2.5rem 0;
  }

  p {
    font-size: 1.125rem;
  }

  li {
    display: flex;
    margin-bottom: 0.5rem;
  }

  a {
    align-items: center;
    display: inline-flex;
  }

  .icon {
    margin-right: 0.5em;
  }

  .container {
    padding: 0 1.5625rem;
  }
}
