.has-background-white-smoke-500 {
  background: $white-smoke-500;
}

.has-background-grey-800 {
  background: $grey-800;
  color: #fff;

  > :not([class*='has-background']) a {
    color: #fff;
  }
}

.has-text-white {
  color: #fff;
}

.has-text-white-smoke-500 {
  color: $white-smoke-500;
}
