// @import 'variables';

@mixin sm-only {
  @media (min-width: $sm) and (max-width: $md - 1px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin md-only {
  @media (min-width: $md) and (max-width: $lg - 1px) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin lg-only {
  @media (min-width: $lg) and (max-width: $xl - 1px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin menu-item-delay-animation {
  $n: 5;
  $delay: 0.5;

  @for $i from 1 through $n {
    &:nth-child(#{$i}) {
      animation-delay: #{$delay + (0.2 * ($i - 1))}s;
    }
  }
}
