$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$secondary-light: #f5edff;

$white-smoke-500: #f6f6f6;
$white-smoke-700: #eaeaea;
$grey-800: #353535;
$grey-600: #7e7e7e;

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Shrikhand', cursive;

$gap: 1.25rem;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
